/lib
/target
.git
.settings
.classpath
.project
.classes
.idea
*.zip
*/web/WEB-INF/.gitignore
*/web/WEB-INF/classes
*/web/WEB-INF/lib
/web/WEB-INF/lib
*/web/WEB-INF/test-classes
*/target
*.iml
*/*.iml
*/logs
*/target
plugin/.DS_Store
.DS_Store
logs
/bin/
config.properties
